mixin li(activeElem, link, name)
    - var isActive = (activeElem == link)
    - var link = isActive ? ( '/' + link ) : ('/' + link)
    li(class=isActive ? 'nav-item active' : 'nav-item')
        a(class='nav-link' href=link)
            | #{name}


mixin header(activeElem)
    nav(id='head-navbar' class='navbar navbar-dark bg-dark' data-role='navbar')
        div(class='container-fluid')
            ul(class='nav navbar-nav' style='white-space:nowrap')
                +li(activeElem, 'events', 'События')
                +li(activeElem, 'person', 'Личности')
                +li(activeElem, 'about', 'О проекте')
            //- span(class='navbar-text pull-right')
            //-     | #{user.displayName}


mixin footer()
    div(id='yandex-container')
        span(class='yandex-metrica pull-right')
            a(href="https://metrika.yandex.ru/stat/?id=69498628&amp;from=informer" target="_blank" rel="nofollow")
                img(src="https://informer.yandex.ru/informer/69498628/3_1_FFFFFFFF_EFEFEFFF_0_pageviews" style="width:88px; height:31px; border:0;"
                    alt="Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="69498628" data-lang="ru")
